@model IEnumerable<ChatApp.Models.InforFriendDto>
@{
    Layout = "~/Views/Shared/_LayoutAppChat.cshtml";
}

<div class="main">
    <div class="background">
        <img src="~/AppFile/Images/coverphoto.jpg" />
    </div>
    <div class="avatar">
        <div class="img-responsive" data-toggle="modal" data-target="#myModal">
            <img src="@ViewBag.Img" />
            <div class="update-img">
                <i class="fa fa-camera"></i>
                <p>Cập nhật</p>
            </div>
        </div>

        <div class="name">
            <h3>
                <a href="#">Nguyen Tien Xuan</a>
            </h3>
        </div>

    </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog mod">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="FormAvatar" method="post" enctype="multipart/form-data" onsubmit="return UploadAvatar(this)" runat="server">
                    <img id="blah" src="@ViewBag.Img" />
                    <input type="file" id="UploadImage" accept="image/gif, image/jpeg, image/png" name="UploadImage" class="form-control" style="display:none" ; /><br />
                    <a href="#" id="selectFile" class="btn btn-primary">Chọn ảnh</a>
                    <button class="btn btn-danger" id="upImg" style="display:none;">Lưu chỉnh sửa</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="close" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<nav class="navbar navbar-default fbTimeline" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Giới Thiệu</a></li>
                <li>
                    <a href="#">Bạn bè<span class="friends">250</span></a>

                </li>
                <li>

                    <a href="#">
                        Bảo Mật
                        <i class="material-icons clearfix sercurity">&#xe32a;</i>
                    </a>

                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
<div class="row content">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 lef">
        <div class="card-header">
            <i class="far fa-question-circle"></i>
            <span>Did You Know</span>
            <span class="pull-right">
                <a href="#">
                    Add Answer
                </a>
            </span>
        </div>
        <div class="content-listFriendSuggest">
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <div class="row suggest-friend">
                        <div class="col-sm-12">
                            <img class="img-responvsive" src="@item.Avatar" alt="Alternate Text" />
                        </div>
                        <div class="col-sm-12">
                            <div class="row infor">
                                <h5>@item.Name</h5>
                                <div class="btn btn-primary add-friend">
                                    Kết bạn
                                </div>
                                <input type="hidden" id="@item.UserName" value="@item.UserName" />
                                <div class="btn btn-danger delete-suggest">
                                    Xóa
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 lef-1">
        <div class="col-md-12 col-lg-12 info">
            <div class="info-top">
                <span>
                    <i class="glyphicon glyphicon-info-sign"></i>
                    Giới thiệu
                </span>
                <span>
                    <a id="edit-info" class=" pull-right">Chỉnh sửa<i class="fas fa-tools"></i></a>
                </span>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 content" style="display:none;">
            <div class="info-bot">
                <div class="row Full-Name">
                    <div class="col-sm-12 col-lg-12">
                        <div class="col-lg-5 col-sm-5">
                            <span>Họ và tên:</span>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <a href="#">Nguyên Xuân Quang</a>
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="row NickName">
                    <div class="col-lg-5 col-sm-5">
                        <span>Nick name:</span>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <a href="#">Quang Jvevermind</a>
                    </div>
                    <hr />
                </div>
                <div class="row Age">
                    <div class="col-lg-5 col-sm-5">
                        <span>Tuổi:</span>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <a href="#">20</a>
                    </div>
                    <hr />
                </div>
                <div class="row Glass">
                    <div class="col-lg-5 col-sm-5">
                        <span>Lớp:</span>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <a href="#">12A1</a>
                    </div>
                    <hr />
                </div>
                <div class="row Gender">
                    <div class="col-lg-5 col-sm-5">
                        <span>Giới tính:</span>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <a href="#">Nam</a>
                    </div>
                    <hr />
                </div>
                <div class="row Phone">
                    <div class="col-lg-5 col-sm-5">
                        <span>Số ĐT:</span>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <a href="#">033.915.1999</a>
                    </div>
                    <hr />
                </div>
                <div class="row Address">
                    <div class="col-lg-5 col-sm-5">
                        <span>Địa chỉ:</span>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <a href="#">Tân Châu,Khoái Châu,Hưng Yên</a>
                    </div>
                    <hr />
                </div>

            </div>
        </div>
        <div class="col-lg-12 col-md-12 edit-user" style="display:none;">
            <form method="post">
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="PassWord" placeholder="Password" />
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" id="Name" placeholder="Name" />
                </div>
                <button class="btn btn-danger" onclick="Update();">Update</button>
            </form>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="info-user"></div>
        </div>
    </div>
    <div class=" col-xs-8 col-sm-8 col-md-8 col-lg-8 rig">
        <div class="tool">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li class="post">
                                <i class="fa fa-pencil"></i>
                                <a href="#">Post</a>
                            </li>
                            <li>
                                <i class="fa fa-photo"></i>
                                <a href="#">Photo/Video</a>
                            </li>
                            <li>

                                <i class="material-icons">ondemand_video</i>
                                <a href="#">Live Video</a>
                            </li>
                            <li class="life">
                                <i class="glyphicon glyphicon-flag"></i>
                                <a href="#">Life Event</a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
        </div>
        <div class="box clearfix">
            <div class="photo-box ">
                <img class="_bth img" src="~/Content/SignIn/images/naruto.jpg" height="40" width="40">
            </div>
            <div class="textbox">
                What's on your mind?
            </div>
            <hr>
            <div class="bot">
                <ul>
                    <li>
                        <i class="fa fa-photo"><span>Photo/Video</span></i>

                    </li>
                    <li>
                        <i class="fa fa-tags"><span>Tag Friends</span></i>

                    </li>
                    <li>
                        <i class="far fa-smile-beam"><span>Feeling/Active</span></i>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>