@{
    Layout = "~/Views/Shared/_LayoutAppChat.cshtml";
}
<!-- Main -->
<div class="main">
    <div class="background" data-toggle="modal" data-target="#myModal">
        <img src="@Url.Content(@ViewBag.Bg)" />
        <div class="update-background">
            <i class="fa fa-camera"></i>
            <span style="display:none;">Cập nhật ảnh bìa</span>
        </div>
    </div>
    <div class="avatar" data-toggle="modal" data-target="#myModal">
        <div class="img-responsive">
            <img src="@Url.Content(@ViewBag.Img)" />
            <div class="update-img">
                <i class="fa fa-camera"></i>
                <p>Cập nhật</p>
            </div>
        </div>

        <div class="name">
            <h3>
                <a href="#">@ViewBag.Name</a>
            </h3>
        </div>
        <div class="inviteFriend">

            <p>
                <i class="fas fa-user-plus"></i>
                <span>Kết bạn</span>
            </p>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog mod">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="FormAvatar" method="post" enctype="multipart/form-data" onsubmit="return UploadAvatar(this)" runat="server">
                    <img id="blah" src="" />
                    <input type="file" id="UploadImage" accept="image/gif, image/jpeg, image/png" name="UploadImage" class="form-control" style="display:none" ; /><br />
                    <a href="#" id="selectFile" class="btn btn-primary">Chọn ảnh</a>
                    <button class="btn btn-danger" id="upImg" style="display:none;" >Lưu chỉnh sửa</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="close" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<!-- Thanh menu trang cá nhân -->
<nav class="navbar navbar-default fbTimeline" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Giới Thiệu</a></li>
            <li>
                <a href="#">Bạn bè<span class="friends">250</span></a>

            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<!-- Chỉnh sửa hiển thị thông tin -->
<div class="row content">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 lef">
        <div class="card-header">
            <i class="far fa-question-circle"></i>
            <span>Did You Know</span>
            <span class="pull-right">
                <a href="#">
                    Add Answer
                </a>
            </span>
        </div>
      
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 lef-1">
        <div class="col-md-12 col-lg-12 info">
            <div class="info-top">
                <span>
                    <i class="glyphicon glyphicon-info-sign"></i>
                    Giới thiệu
                </span>
                <span>
                    <a id="edit-info" class=" pull-right">Chỉnh sửa<i class="fas fa-tools"></i></a>
                </span>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 edit-user" style="display:none;">
            <form method="post">
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="PassWord" placeholder="Password" />
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" id="Name" placeholder="Name" />
                </div>
                <button class="btn btn-danger" onclick="Update();">Update</button>
            </form>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="info-user"></div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 lef-2">
        <div class="col-lg-12 col-md-12">
            <div class="avatarFriend">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="Alternate Text" />
            </div>
            <div class="nameFriend">
                <p>Nguyễn Văn A</p>
            </div>
            <div class="showInfoFriend">
                <div class="dropdown">
                    <button class="dropbtn">
                        <span>Bạn bè</span>
                    </button>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#">Thông tin</a></li>
                            <li><a href="#">Hủy kết bạn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="avatarFriend">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="Alternate Text" />
            </div>
            <div class="nameFriend">
                <p>Nguyễn Văn A</p>
            </div>
            <div class="showInfoFriend">
                <div class="dropdown">
                    <button class="dropbtn">
                        <span>Bạn bè</span>
                    </button>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#">Thông tin</a></li>
                            <li><a href="#">Hủy kết bạn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="avatarFriend">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="Alternate Text" />
            </div>
            <div class="nameFriend">
                <p>Nguyễn Văn A</p>
            </div>
            <div class="showInfoFriend">
                <div class="dropdown">
                    <button class="dropbtn">
                        <span>Bạn bè</span>
                    </button>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#">Thông tin</a></li>
                            <li><a href="#">Hủy kết bạn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="avatarFriend">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="Alternate Text" />
            </div>
            <div class="nameFriend">
                <p>Nguyễn Văn A</p>
            </div>
            <div class="showInfoFriend">
                <div class="dropdown">
                    <button class="dropbtn">
                        <span>Bạn bè</span>
                    </button>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#">Thông tin</a></li>
                            <li><a href="#">Hủy kết bạn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="avatarFriend">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="Alternate Text" />
            </div>
            <div class="nameFriend">
                <p>Nguyễn Văn A</p>
            </div>
            <div class="showInfoFriend">
                <div class="dropdown">
                    <button class="dropbtn">
                        <span>Bạn bè</span>
                    </button>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#">Thông tin</a></li>
                            <li><a href="#">Hủy kết bạn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8">Các bài viết</div>
</div>