@{
    Layout = "~/Views/Shared/_LayoutAppChat.cshtml";
}
<!-- Main -->
<div class="main">
    <div class="background">
        <img src="@Url.Content(@ViewBag.Bg)" />
        @if (ViewBag.checkUser)
        {
            <div class="update-background" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-camera"></i>
                <span style="display:none;">Cập nhật ảnh bìa</span>
            </div>
        }
    </div>
    <div class="avatar">
        <div class="img-responsive">
            <img src="@Url.Content(@ViewBag.Img)" />
            @if (ViewBag.checkUser)
            {
                <div class="update-img" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-camera"></i>
                    <p>Cập nhật</p>
                </div>
            }
        </div>


        <div class="name">
            <h3>
                <a href="#">@ViewBag.Name</a>
            </h3>
        </div>
        @if (!ViewBag.checkFriend && !ViewBag.checkUser)
        {
            <div class="inviteFriend">
                <p>
                    <i class="fas fa-user-plus"></i>
                    <span>Kết bạn</span>
                </p>
            </div>
        }
    </div>
    <div class="MyId" id="@ViewBag.Id" style="display:none;"></div>
        <div class="ModalSearch">
            <h3 id="keyname"></h3>
            <span class="closeDiv">&times;</span>
            <div class="DisplayFriend">

            </div>
            <hr />
            <i class="btn btn-danger closeDiv1">Đóng</i>
        </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog mod">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="FormAvatar" method="post" enctype="multipart/form-data" onsubmit="return UploadAvatar(this)" runat="server">
                    <img id="blah" src="" />
                    <input type="file" id="UploadImage" accept="image/gif, image/jpeg, image/png" name="UploadImage" class="form-control" style="display:none" ; /><br />
                    <a href="#" id="selectFile" class="btn btn-primary">Chọn ảnh</a>
                    <button class="btn btn-danger" id="upImg" style="display:none;" >Lưu chỉnh sửa</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="close" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>


<!-- Thanh menu trang cá nhân -->
<nav class="navbar navbar-default fbTimeline" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"  id="gioithieu">Giới Thiệu</a></li>
            <li>
                <a href="#"  id="banbe">Bạn bè<span class="friends">250</span></a>

            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<!-- Chỉnh sửa hiển thị thông tin -->
<div class="row content">
   
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 lef-1">
        <div class="col-md-12 col-lg-12 info">
            <div class="info-top">
                <span>
                    <i class="glyphicon glyphicon-info-sign"></i>
                    Giới thiệu
                </span>
                @if (ViewBag.checkUser)
                {
                    <span>
                        <a id="edit-info" class="pull-right">Cập nhật<i class="fas fa-tools"></i></a>
                    </span>
                }
            </div>
        </div>
        <div class="col-lg-12 col-md-12 edit-user" style="display:none;">
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="Name" placeholder="Họ và tên" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="SchoolName" placeholder="Trường học" />
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" id="DoB" placeholder="Ngày sinh" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="Address" placeholder="Địa chỉ" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="PhoneNumber" placeholder="Số điện thoại" />
                </div>
                <input type="button" class="btn btn-primary" value="Cập nhật" id="UpdateUser" />
                <input type="button" class="btn btn-danger" value="Hủy" id="Huy" />
            </form>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="info-user">

            </div>
            @if (ViewBag.checkUser)
            {
                <button class="btn btn-primary" id="ChangePass">Thay Đổi Mật Khẩu</button>
            }
            <div class="ChangePass">
                <form method="post">
                    <p id="prePassword" style="display:none;">a</p>
                    <div class="form-group">
                        <input type="password" class="form-control" id="Password" placeholder="Mật khẩu cũ" />
                    </div>
                    <p id="curPassword" style="display:none;">a</p>
                    <p id="preNewPassword" style="display:none;">a</p>
                    <div class="form-group">
                        <input type="password" class="form-control" id="NewPassword" placeholder="Mật khẩu mới" />
                    </div>
                    <p id="preConfirmPassword" style="display:none;">a</p>
                    <div class="form-group">
                        <input type="password" class="form-control" id="ConfirmPassword" placeholder="Xác nhận mật khẩu" />
                    </div>
                    <p id="curConfirmPassword" style="display:none;">a</p>
                    <input type="button" class="btn btn-primary" value="Lưu thay đổi" id="ChangePassword" />
                    <input type="button" class="btn btn-danger" value="Hủy" id="Cancel" />
                </form>

            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 lef-2">
      
    </div>

    <div class="list-friend-clone" style="display:none;">
        <div class="col-lg-12 col-md-12">
            <div class="avatarFriend">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="Alternate Text" />
            </div>
            <div class="nameFriend">
                <a href="#"> <p>Nguyễn Văn A</p></a>
            </div>
            @if (ViewBag.checkUser)
            {
            <div class="showInfoFriend">
                <div class="dropdown">
                    <button class="dropbtn">
                        <span>Bạn bè</span>
                    </button>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#">Thông tin</a></li>
                            <li><a class="removeFriend" id="" href="#">Hủy kết bạn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    <div class="post-saved-clone" style="display:none;">
        <div class="row post-store" id="">
            <div class="top-post">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_03.jpg" />
                <div class="info-userpost">
                    <span class="name-postStore">Nguyễn Xuân Quang</span>
                    <span class="fa fa-caret-right"></span>
                    <a href="#"><span class="group-joined">Toán học</span></a>
                    <p>12h54 - 20/03/2019</p>
                </div>
                @if (ViewBag.checkUser)
                {
                    <div class="editPost">
                        <i class="glyphicon glyphicon-cog setting pull-right EditPostStore"></i>
                        <div class="edit-poststore">Xóa</div>
                    </div>
                }
            </div>
            <hr />
            <div class="contentPostStored">
                <p>
                    nội dung post
                </p>
                <img src="" class="img-postsave" alt="" />
            </div>
        </div>
    </div>

    <!--Code lưu các bài viết-->
    <div class="col-lg-8 col-md-8 content-store">
        
    </div>
</div>