
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Social network</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
   
    @Styles.Render("~/web/css")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="container">
        <div class="row maincontent">
            <div class="col-sm-1"></div>
            <div class="col-sm-8 MidContent">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

        @Html.Action("_MenuPartialView")
    </div> <!-- end container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js'></script>
    <script src="~/Assets/Plugin/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
         var MyUserName = '@Request.RequestContext.HttpContext.Session["userName"]';
    </script>
    @Scripts.Render("~/messenger/js")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="~/Assets/Plugin/jquery.shorten.1.0.js"></script>
</body>
</html>
