<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    <link href="~/Content/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_HeaderPartialView")
        @Html.Partial("_AsideMenuPartialView")
        <div class="body-content" style="height: 78.35%">
            @RenderBody()
            <hr />
        </div>
    </div>

    <script src="~/Content/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/AdminLTE/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/AdminLTE/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Content/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/AdminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/AdminLTE/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="~/Content/AdminLTE/dist/js/adminlte.min.js"></script>
    <script src="~/Content/AdminLTE/dist/js/pages/dashboard.js"></script>
    <script src="~/Content/AdminLTE/dist/js/demo.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
</body>
</html>
