@model IEnumerable<ChatApp.Models.ViewModels.UserViewModel>

@{
    ViewBag.Title = "GetMembers";
    Layout = "~/Views/Admin/_AdminPartialView.cshtml";
}

<style>
    .add-student {
        padding-bottom: 10px;
        border-bottom: 1px solid gray;
        margin: 10px 0px;
    }

    #create-user td, th {
        padding: 5px;
    }

    #create-user input {
        width: 462px;
    }
</style>

<div class="content-wrapper" style="padding-left: 10px">
    <section class="content-header">
        <h1>
            Danh sách thành viên
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Members</li>
        </ol>
    </section>

    <div class="add-student row">
        <p style="padding-left: 18px; padding-top: 10px">
            <a href="#"><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Thêm mới thành viên</button></a>
        </p>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Nhập dữ liệu từ File Excel
                </div>
                <form action="/Admin/ImportUserFromExcel" method="post" enctype="multipart/form-data"
                      style="padding: 15px">
                    <input type="file" name="fileUpload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                    <br />
                    <button type="submit" value="Import" class="btn btn-success import-data">Import Data</button>
                    <i>@ViewBag.message</i>

                </form>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Xuất dữ liệu ra File Excel
                </div>
                <form action="/Admin/ExportUserToExcel" method="post" enctype="multipart/form-data"
                      style="padding: 15px">
                    <button type="submit" class="btn btn-success" />Export File</button>
                    <i>@ViewBag.Message</i>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-striped table-hover" id="table-student">
        <thead>
            <tr>
                <th>Số thứ tự</th>
                <th>
                    Tên thành viên
                </th>
                <th>
                    Avatar
                </th>
                <th>
                    Email
                </th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 0; }
            @foreach (var item in Model)
            {
                i = i + 1;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.Avatar)" alt="Alternate Text" style="width:50px;height:50px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a href="/Admin/GetMemberDetail/@item.Id">
                            <button class="btn btn-primary">Thông tin cá nhân</button>
                        </a>
                        <a href="/Admin/GetListFriend/@item.Id">
                            <button class="btn btn-primary">Danh sách bạn bè</button>
                        </a>
                        <a href="/Admin/GetPostsByUser/@item.Id">
                            <button class="btn btn-primary">Các bài đã đăng</button>
                        </a>
                        <a href="#"><button class="btn btn-danger">Khóa</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="myModal" class="modal fade create-user" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm mới thành viên</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <form action="/Admin/CreateUser" method="post" id="add-user">
                        <table class="table-table-striped" id="create-user">
                            <tbody>
                                <tr>
                                    <td style="font-weight:bold">Họ và tên</td>
                                    <td><input name="Name" type="text" data-toggle="tooltip" data-placement="bottom" title="Nhập tên từ 5 - 200 kí tự" class="input-information input2 name" value="" maxlength="200" id="userName" required=""></td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold">Email</td>
                                    <td><input name="Email" type="email" data-toggle="tooltip" data-placement="bottom" title="Vui lòng nhập email dạng x@gmail.com" class="input-information input2" value="" id="userEmail" required=""></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-success btn-submit btn-create-user">Thêm mới</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>