@model IEnumerable<ChatApp.Models.Dto.UserDto>

@{
    ViewBag.Title = "GetPosts";
    Layout = "~/Views/Admin/_AdminPartialView.cshtml";
}

<div class="content-wrapper" style="padding-left: 10px">
    <section class="content-header">
        <h1>
            Danh sách thành viên
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Members</li>
        </ol>
    </section>
    <table class="table table-striped table-hover" id="table-student">
        <thead>
            <tr>
                <th>Mã thành viên</th>
                <th>
                    Tên thành viên
                </th>
                <th>
                    Avatar
                </th>
                <th>
                    Nội dung
                </th>
                <th>
                    Nhóm
                </th>
                <th>
                    Thời gian đăng
                </th>
                <th>
                    Số lượt like
                </th>
                <th>Thao tác</th>
            </tr>
        </thead>

        @*<tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClassByGrade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDeleted)
                        </td>
                        <td>
                            <a href="/student/edit/@item.Id"><button class="btn btn-primary">Thay đổi</button></a>
                            <a href="/student/delete/@item.Id"><button class="btn btn-danger">Xóa</button></a>
                        </td>
                    </tr>
                }
            </tbody>*@

    </table>

    <div class="panel panel-primary">
        <div class="panel-heading">
            Nhập dữ liệu từ File Excel
        </div>
        <form action="/student/import" method="post" enctype="multipart/form-data"
              style="padding: 15px">
            <input type="file" name="fileUpload" />
            <br />
            <button type="submit" value="Import" class="btn btn-success" />Import Data</button>
        </form>
    </div>
</div>
